{% if page.analytics != false %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics_id }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', "{{ site.google_analytics_id }}");
</script>

<!-- Umami Analytics -->
<script defer src="https://cloud.umami.is/script.js" data-website-id="2abba8df-bbee-4b47-9e26-fc45b0ac0c71"></script>

{% endif %}