---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>
        </div>
      </article>
    </div>

    {% include scripts.html %}

  </body>

  <!-- <div id="globe-container" style="width: 100px; height: 100px; overflow: hidden;">
    <script type="text/javascript" id="mmvst_globe" src="//mapmyvisitors.com/globe.js?d=JfwTjKE8GiYmlkx5q35kNQjBKiL8FO02Uhj-4Kl8XYU"></script>
</div>
 -->
</html>
